:root {
  --color-page-bg: #a8d4ff;
	--color-header-bg: #fffab5;
	--color-header-text: #3c3c31;
	--color-note-bg: #fffab5;
	--color-note-text: #3c3c31;
	--color-footer-bg: #fffab5;
	--color-footer-text: #3c3c31;
	overflow-x: hidden;
	overflow-y: hidden;
}

html {
	background-color: var(--color-page-bg);
	font-family: 'Roboto', sans-serif;
}

.outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;

}

.header {
	font-family: 'Fuzzy Bubbles', 'Roboto', serif;
	color: white;
	font-size: min(4rem,10vw);
	color: var(--color-header-text);
	background-color: var(--color-header-bg);
	margin-top: -8px;
	padding: 1rem 1rem 1rem 5rem;
	width: 100vw;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.note__container	{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 100vw;
}

.note	{
	font-family: 'Fuzzy Bubbles', 'Roboto', serif;
	color: var(--color-note-text);
	background-color: var(--color-note-bg);
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
	border-radius: .5rem;
	padding: 1rem;
	margin: 2rem;
	max-width: 15rem;
}

.note__title {
	font-weight: bold;
}

.note__text	{
	margin-top: 1rem;
}

.footer {
	margin-top: auto;
	padding: 1rem;
	font-family: 'Fuzzy Bubbles', 'Roboto', sans-serif;
	color: var(--color-footer-text);
	background-color: var(--color-footer-bg);
	text-align: center;
	width: 100vw;
	box-shadow: -1px -1px 5px 2px rgba(0, 0, 0, 0.3);
}

.footer a {
	font-family: 'Fuzzy Bubbles', 'Roboto', sans-serif;
	color: var(--color-footer-text);
}
